.slider .hero .block {
  h1 {
    font-size: 50px;
    letter-spacing: 8px;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
  }

  p {
    color: white;
  }
}

.bg-2 {
  background-image: url('/images/feature-bg.jpg');
  @media (max-width: 992px) {
    background-image: none;
    background-color: darken( $light, 1.5);
  }
}