.footer {
  background: darken( $light, 1.5);
  min-height: 160px;
  padding-top: 30px;
  p {
    font-size: 13px;
    line-height: 25px;
    color: lighten( $black, 56.86274509803921 );
  }
  a {
    color: lighten( $black, 34.9 );
  }
  .footer-menu {
    padding-bottom: 25px;
    ul {
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        padding: 0px 20px;
        a {
          display: inline-block;
          color: lighten( $black, 28.6 );
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 15px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      text-align: center;
    }

    a {
      font-weight: 600;
    }
  }
  .social-icons {
    margin-top: 15px;
    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  }
}
